{% extends 'base.html' %}

{% block content %}
  <p>
    Meme Spec Protec is a tool that helps <a target="_blank" href="https://www.curseforge.com/wow/addons/details-damage-meter-classic-wow">Details!</a> users decide what talents they want others to see.
    <br>
    Take any <a target="_blank" href="https://classic.wowhead.com/talent-calc">Wowhead Classic talent URL</a> and get instructions on how to modify Details!
  </p>

  {% if invalid %}
  <h3>Invalid Wowhead URL</h3>
  {% endif %}
  <form  method="post">
    Enter Wowhead URL: <input type="text" name="url" size="100" value="{{old_url}}" required>
    <input type="submit" value="Protec">
  </form>
{% endblock %}
